.nav{
    width: 80%;
    max-width: 900px ;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 2rem 0;

}
.logo{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: flex-end;
    cursor: pointer;
}
.logo img{
    width: 80px;
    height: 80px;
    background-position: center;
}
.logo span{
    font-size: 2.3rem;
    text-transform: uppercase;
    color: white;
    font-family: 'DynaPuff', cursive;
}

.list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

}
.list a{
    font-size: 1.6rem;
    color: white;

}

@media screen and (max-width: 800px ) {
    .list a{
        font-size: 0.6rem;
        color: white;
        font-family: 'DynaPuff', cursive;
    }
    .list{
        gap: 1rem;
    }
    .logo span{
        font-size: 1rem;
        
    
    }
    .logo img{
        width: 60px ;
        height: 60px;
        background-position: center;
    }
    .logo{
        justify-content: center;
        align-items: center;
       
    }
    .nav{
        padding: 1rem;
    }
}