body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

code {
  font-family: 'DynaPuff', cursive;
}

a{
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'DynaPuff', cursive;
}
.underline{

  border-bottom: 2px red solid;
   
}
button{
  font-family: 'DynaPuff', cursive;
}